@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*
{
    font-family: 'Poppins', comic sans ms;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent;
}
a
{
    list-style: none !important;
}

html
{

    scroll-behavior: smooth;
}
.home h1
{
   margin-top: 2px;
   font-size: 3.1em;
}
.part1
{
  display: flex;
  align-items: center;
  padding-top: 19em;
  background-color: rgb(31, 31, 31);
  background-size: cover;
  align-items: center;
}
.part1 ul
{
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 7em;
    font-size: 2em;
    color: #ffffff;
    font-style: itlic;
    font-weight: bold;
}

ul li:nth-child(1)
{
    color: rgba(37, 22, 255, 0.959);
}

ul li:nth-child(2)
{
    color: rgb(255, 10, 10);
}

ul li:nth-child(3)
{
    color: rgb(251, 255, 32);
}

ul li:nth-child(4)
{
    color: red;
}
ul li:nth-child(5)
{
    color: rgb(18, 240, 85);
}
ul li:nth-child(6)
{
    color: rgb(59, 59, 253);
}
ul li:nth-child(7)
{
    color: red;
}
ul li:nth-child(8)
{
    color: yellow;
}
ul li:nth-child(9)
{
    color: blue;
}
ul li:nth-child(10)
{
    color: rgb(38, 245, 38);
}
ul li:nth-child(11)
{
    color: blue;
}
ul li:nth-child(12)
{
    color: red;
}
ul li:nth-child(13)
{
    color: yellow;
}

section
{
    padding: 150px;
}

.part1 h1
{
    font-weight: bold;
    color: white;
    letter-spacing:1.3px;
    line-height: 1.8em;
}

.part1 h1 span 
{
    font-size: 1.6em;
    color: #08f7ff;
} 

.part1 h3
{
    color: rgb(255, 255, 255);
    font-size: 1.6em;

}
nav
{
    position: fixed !important;
    width: 100% !important;
    justify-content: space-around;
    padding: 1px 80px !important;
    background: rgb(31, 31, 31) !important;
    opacity: 0.9;
    z-index: 1 !important;
}

nav ul li
{
    list-style-type: none;
    position: relative !important;
}
.navbar-brand
{
    color: rgb(0, 255, 0) !important;
    font-size: 16.3px !important;
}
nav ul
{
    display: flex !important;
    position: relative !important;
}
nav ul li a
{
    color: rgb(255, 255, 255) !important;
    position: relative !important;
    display: inline-block !important;
    text-decoration: none;
    margin: 10px 11px !important;
    font-size: 16.5px !important;
}
nav ul li a:hover
{
    transition: 0.15s ease;
    color: #ff13eb !important;
    cursor: pointer;
    font-size: 16.5px !important;
    transform: translateY(3px) !important;
}
#image
{
    border-radius: 50%;
    height: 62px;
    width: 62px;
}

img
{
    border-radius: 50%;
    height: 75px;
    width: 78px;
}
.logo
{
    float: left;
}

nav ul li a:hover
{
    transition: 0.15s ease;
    color: #ff35ff;
    cursor: pointer;
    transform: translateY(2px);
}
.about_heading h1
{
    font-size: 2.6em;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000;
}
.content
{
    justify-content: space-around;
    letter-spacing: 1.1px;
    padding-top: 2em;
    font-size: 1.5em;
    background-color: rgba(245, 245, 245, 0.932);
    margin-top: 60px;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2em;
    text-align: center;
    box-shadow: 3px 3px 20px #00eeff, -4px -4px 11px rgb(255, 0, 242);
    border-radius: 25px;
    border: 2px solid #edeeee;
    
}

.skills .skills_contents
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills .skills_contents .skillss
{
    padding: 30px 20px;
    background: rgb(59, 59, 59);
    color: rgb(239, 255, 255);
    max-width: 340px;
    margin: 21px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 50px;
}
.skills .skills_contents .skillss:hover
{
    background-color: rgb(228, 255, 229);
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.skills
{
    background: rgb(24, 24, 24);
    overflow: hidden;
}

.skillss h1
{
    color: #fc11f0;
    letter-spacing: 1.5px;
    font-size: 1.7em;
}

.skillss p
{
    padding-top: 5px;
    text-align: center;
    justify-content: space-around;
    letter-spacing: 0.2px;
    font-size: 17.3px;
}
#social
{
    background:rgb(252, 252, 252);
}
#social #link_contents
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 7em;
    margin-left: 10px;
}
#social #link_contents #link
{
    
    background: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 50px;
}
.about
{
    background: rgb(235, 233, 233);

}

.about_image
{
    
    justify-content: center;
    align-items: center !important;
    margin-top: 70px;
    margin-left: 18em;
}
#mypic
{
    border-radius: 50%;
    height: 300;
    width: 300;
}

.about_image img
{
    height: 240px;
    width: 270px;
    border-radius: 20px;
    align-items: center;
    margin-left: 3em;
}
.skills_heading h1
{
    color: rgb(113, 255, 248);
    justify-content: center;
    font-size: 3.5em;
    letter-spacing: 1.5px;
    align-items: center;
    text-align: center;
}
.skills_contents
{
    margin: 3.6em !important;
}
.projects
{
    background: rgb(29, 29, 29);
}
.projects_heading h2
{
    font-size: 2.7em;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgb(113, 255, 248);
}
.projects_heading p
{
    justify-content: space-around;
    letter-spacing: 1.1px;
    padding-top: 2em;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.932);
    margin-top: 60px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2em;
    text-align: center;
    box-shadow: 3px 3px 20px #fa8cf1, -4px -4px 10px rgb(133, 247, 255);
    border-radius: 25px;
    border: 2px solid #edeeee;
}
.resume
{
    margin-top: 7em;
    align-items: center;
    text-align: center;
}
.resume a
{
    background: rgb(31, 31, 31);
    color:rgb(30, 220, 253);   
    padding: 17px 17px;
    font-size: 1.7em;
    border-radius: 50px;
    border: 2px solid;
    box-shadow: 3px 4px 10px #4debf7, -3px -4px 10px rgb(241, 121, 235);
    justify-content: space-around;
}
.resume a:hover
{
    border-radius: 50px;
    transition: 0.2s ease;
    color: black;
    background: #ffffff;
}
.social_content
{
    margin-top: 20em;
    margin-left: 5em;
}
.social_head h2
{
    letter-spacing: 1.5px;
    font-size: 2.7em;
    text-align: center;
    color: rgb(34, 34, 34);
}
.social
{
    background: rgb(247, 247, 247);
}
#quote_left
{
    color: rgb(255, 55, 205);
    font-size: 1.8em;
}
#quote_right
{
    color: rgb(255, 55, 205);
    font-size: 1.8em;
}

@media (max-width: 990px)
{
    nav
    {
        height: 9em;
        z-index: 1000;
        background:rgb(36, 36, 36) !important;
        opacity: 09;
    }
    
    section
    {
        width: 230% !important;
        
    }
    .navbar-nav
    {
        top: 3em;
        right: -120%;
        display: block;
        flex-direction: column;
        text-align:center;
        padding: 100px 20px;
        width: 100% !important;
        height: 130vh !important;
        background:rgb(39, 39, 39) !important;
        transition: 0.8s;
        z-index: 999;
    }
    .navbar-brand
    {
        font-size: 38px !important;
        text-align: center !important;
    }
    nav ul li a
    {
        font-size: 2.2em !important;
        color:rgb(255, 255, 255) !important;
        line-height: 2.5em;
    }
    .navbar-toggler
    {
        width: 60px !important;
        height: 60px !important;
        font-size: 10px !important;
        background-repeat: no-repeat !important;
        background-size: 70px !important;
        margin-left: 30em !important; 
        position: relative;
        border: none !important;
        color: rgb(36, 36, 36) !important;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
    }
    .navbar-toggler-icon 
    { 
        height: 40px !important;
        width: 40px !important;
        visibility: hidden !important;
    } 
    .navbar-toggler.ok
    {
         background-image: url(cross.png) !important;
         width: 62px !important;
         height: 62px;
         background-size: 60px;
    }
    .navbar-nav.ok
    {
        right: -100px !important;
    }
    
    .part1
    {
        padding-top: 25em;
        background-color: rgb(36, 36, 36);
    }
    .home h1
    {
        font-size: 3.8em;
    }
    .about_heading h1
    {
        font-size: 5.5em;
        text-align: center;

    }
    .content
    {
        flex-direction: column !important;
        margin-top: 3em;
    }
    .content p
    {
        font-size: 2em;
    
    }
    .about
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    #mypic
    {
        height: 435px;
        width: 435px;
    }
    .about_image
    {
        align-items: center;
        margin-left: 8.1em;
    }
    .skills_heading h1 
    {
        font-size: 5.5em;    
    }
    .skills .skills_contents
    {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }   

    .skills .skills_contents .skillss
    {
    background: rgb(59, 59, 59);
    color: rgb(239, 255, 255);
    max-width: 340px;
    margin: 20px;
    transition: 0.3s ease;
    border-radius: 50px;
    }
    .skillss h1
    {
    color: #fc11f0;
    letter-spacing: 1.5px;
    font-size: 35px;
    }

    .skillss p
    {
    padding-top: 5px;
    letter-spacing: 0.2px;
    font-size: 30px;
    text-align: justify;
    }
    .projects
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    .projects_heading h2
    {
        font-size: 5.2em;
    }
    .projects_heading p
    {
        margin-top: 5em;
        font-size: 2.5em;
    }
    .resume a
    {
        font-size: 2.6em;
    }
    .social_head h2
    {
        font-size: 5.3em;
        font-weight: bold;
    }
    .skills
    {
        padding-left: 46px;
        padding-right: 45px;
    }
    #ch
    {
        height: 90px;
        width: 90px;
    }
    .footer_head h2
    {
       font-size: 4.3em !important;
       text-align: center;
    }
    .footer_body
    {
        margin-top: 200px !important;
    }
    .details h3
    {
        font-size: 3.2em !important;
    }
    .text h3
    {
        font-size: 2.4em !important;
    }
    .text p
    {
        font-size: 2.1em !important;
    }
    .form1{
        margin-top: 3.4em !important;
    }
    .form1 h3
    {
        font-size: 2.7em !important;
    }
    .form1 form input,
    .form1 form textarea
    {
    margin-bottom: 22px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 18px;
    outline: none;
    border-radius: 16px;
    }
    .form1 form textarea
    {
    min-height: 200px;
    padding-right: 3px !important;
    }

    .form1 form input::placeholder,
    .form1 form textarea::placeholder
    {
    font-size: 23px;
    }
    .form1 form input[type="submit"]
    {
    max-width: 200px !important;
    background: #2bc3f1;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 25px;
    color: black;
    font-size: 1.9em;
    }
    .col-xs-7 p
    {
        font-size: 2.2em !important;
    }
}
.button
{
    font-size: 17px;
    list-style: none !important;
    text-decoration: none !important;
    color:rgb(0, 0, 0);
    display: inline-block;
    background-image: linear-gradient(to right, rgb(250, 110, 255), rgb(36, 255, 255));
    padding: 5px 17px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-top: 20px;
}
.button1
{
    font-size: 17px;
    list-style: none;
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: inline-block;
    background-image: linear-gradient(to right, rgb(250, 102, 243), rgb(34, 247, 247));
    padding: 5px 17px;
    border-radius: 25px;
    text-transform: capitalize;
    margin-top: 100px;
}
.footer
{
    background:rgb(27, 27, 27);
}
.form1 form
{
    display: flex;
    flex-direction: column;
}
.form1
{
    min-width: 60%;
}
.details h3
{
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color:  rgb(96, 252, 96);
}
.form1 form h3
{
    color: rgb(98, 248, 253);
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 500;
}
.form1 form input,
.form1 form textarea
{
    margin-bottom: 22px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: rgb(43, 43, 43);
    color: rgb(255, 83, 241);
    border-radius: 16px;
}
.form1 form textarea
{
    min-height: 200px;
}

.form1 form input::placeholder,
.form1 form textarea::placeholder
{
    color: rgb(210, 210, 210);
}
.form1 form input[type="submit"]
{
    max-width: 100px;
    background: #2bc3f1;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 25px;
    color: black;
}
.form1 form input[type="submit"]:hover
{
    max-width: 200px;
    background: #f049ff;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.4s ease;
    color: rgb(15, 15, 15);
}
.details
{
    min-width: 40%;
    margin-top: 3.5em;
    margin-left: 2px;
}
.footer_details
{
    position: relative;
}
.footer_details .info
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.footer_details .info .icon1
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.footer_details .info .text p
{
    display: flex;
    margin-left: 18px;
    font-size: 17px;
    flex-direction: column;
    font-weight: 300;
    color: white;
}
.footer_details .info .text h3
{
    font-weight: 500;
    color: #f44efa;
    margin-bottom: 0;
    font-size: 23px;
}
.footer_head h2
{
    font-size: 2.1em;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}
.col-xs-7 p
{
    color: white;
    margin-top: 7em;
    text-align: center;
    font-size: 1.8em;
}

